.currencyTextField {
  width: 100%;
}

.avatarImage {
  height: 19px !important;
  width: 19px !important;
}

.buttonSize {
  height: 58px;
  margin-top: 20px !important;
}

.selectLabel {
  margin-bottom: 10px;
}